* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}
.display{
  position: relative;
}
.playgame {
  position: relative;
  float: left;
  width: 80%;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.548);
}
#canvas{
  width: 100%;
  height: 100vh;
}
.info{
  position: relative;
  float: left;
  width: 20%;
  height: 100vh;
  background-color: rgb(46, 67, 71);
}
h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}
h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 35px;
  right: 80px;
  color: transparent;
  text-shadow: 0 0 2px red;
}
h3{
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0px;
}
button{
  float: left;
  width: 50%;
  height: 30pt;
  border-radius: 5px;
  align-items: center;
  background-color: pink;
}
#point {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 25px;
  right: 20px;
  color: transparent;
  text-shadow: 0 0 1px red;
}

#audio{
  float:none;
  position: absolute;
  size: 10px;
}
p, h3{
  color: rgb(196, 122, 122);
  margin: 10px;
  padding: 10px;
}

