html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: transparent;
    text-shadow: 0 0 4px white;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 35px;
    right: 80px;
    color: transparent;
    text-shadow: 0 0 2px red;
  }
  #point {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 35px;
    right: 20px;
    color: transparent;
    text-shadow: 0 0 1px red;
  }
  #bt_pause {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 80px;
    right: 1px;
    text-shadow: 0 0 1px orange;
    background-color: rgba(0,0,0,0.25);
  }
  #bt_start {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: 130px;
    right: 10px;
    text-shadow: 0 0 1px orange;
    background-color: rgba(0,0,0,0.25);
  }